
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}
.App{
  margin-top: 10px;
}
.card {
  max-width: 100%;
  margin: 20px 15px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: antiquewhite;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 12px;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  color: rgb(92, 85, 85);
  font-weight: 20px;
  font-weight: bold ;

}

.Invoice {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #007bff;
}


.container {
  padding: 10px 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.items {
  width: 80px;
  height: 5px;
}

input, select{
  padding: 5px 8px;
  border: 1px solid gray;
  border-radius: 4px;
  min-width: 25px;
}

.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

th, td {
  padding: 8px; 
  word-wrap: break-word; 
}

th {
  background-color: azure;
  text-align: center;
}

td textarea, td input, td select {
  width: 100%; 
  box-sizing: border-box;
}

.customer-message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea-with-button {
  display: flex;
  gap: 10px; 
  width: 100%; 
}

textarea.customer-message {
  flex: 1; 
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}

button.save-button {
  padding: 6px 12px; 
  font-size: 12px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 50px;
}

button.save-button:hover {
  background-color: #0056b3; 
}
.text-error {
  font-size: 12px;
  color: red;
}

